.footer {
  background: #C9C9C9;
  padding: 80px 0;

  .footer-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .footer-menu {
    display: flex;
    gap: 70px;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
    padding-right: 10%;

    ul {
      list-style: none;

      li {
        margin-bottom: 12px;

        a {
          line-height: 120%;
          color: #000;
          font-weight: 400;
          margin-bottom: 25px;
          opacity: 0.7
        }
      }
    }
  }

  .menu-header {
    @include res-font(15, 20);
    line-height: 120%;
    letter-spacing: 0.1rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.footer-logo-container {
  .logo {
    margin-bottom: 20px;
  }

  .footer-txt {
    @include res-font(16, 24);
    line-height: 120%;
    color: #000;
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 450px;
    width: 100%;
  }

  .copyright-section {
    color: #000;
    opacity: 0.7;
    font-size: 0.95rem;
  }
}