.full-width-container {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;

  .section-title {
    margin-bottom: 25px;
  }
  .section-txt {
    font-weight: 400;
    @include res-font(16, 22);
    line-height: 158%;
    color: #181f1b;
    opacity: 0.7;
    letter-spacing: 0.03rem;
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .social-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .icon {
      box-shadow: -9px -9px 16px 0px rgba(238, 238, 238, 0.6),
        10px 10px 17px 0px rgba(193, 208, 195, 0.26);
      border-radius: 1.25rem;
      border: 2px solid rgba(255, 255, 255, 0.2);
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 130px;
      padding: 40px;
      margin-bottom: 20px;

      img {
        margin-bottom: 15px;
      }
    }
  }
}
